# Resend API Key
RESEND_API_KEY=re_K4soxQjj_NqnjBWg1a7dsWG1yfeSN3Sr9

# Meta Conversions API (API de conversiones del servidor)
META_PIXEL_ID=1754959305395666
META_CONVERSIONS_API_TOKEN=your_meta_conversions_api_token_here
